html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}
.text-muted {
  color: #777777;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.text-primary {
  color: #1976D2;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #1976D2;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #145ca4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 400;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 100;
}
.small-font {
  font-size: 10px;
}
.white {
  color: #FFFFFF;
}
.light-white {
  color: rgba(255, 255, 255, 0.5);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.text-desc {
  margin-top: 20px;
}
.img-centered {
  margin: 0 auto;
}
.clear-margin-left {
  margin-left: -15px;
}
.clear-margin-right {
  margin-right: -15px;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
@media (min-width: 992px) {
  .hover-scale:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 15px;
  line-height: 30px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1976D2;
}
#social {
  padding: 25px 0;
  text-align: center;
}
#social span.copyright {
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
#social ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
.btn-primary {
  color: white;
  background-color: #1976D2;
  border-color: #1976D2;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #145ca4;
  border-color: #12579b;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1976D2;
  border-color: #1976D2;
}
.btn-primary .badge {
  color: #1976D2;
  background-color: white;
}
.btn-secondary {
  color: white;
  background-color: #CDDC39;
  border-color: #CDDC39;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: white;
  background-color: #b2c022;
  border-color: #a9b720;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #CDDC39;
  border-color: #CDDC39;
}
.btn-secondary .badge {
  color: #CDDC39;
  background-color: white;
}
.btn-tertiary {
  color: white;
  background-color: #00A9E0;
  border-color: #00A9E0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: white;
  background-color: #0083ad;
  border-color: #007ba3;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #00A9E0;
  border-color: #00A9E0;
}
.btn-tertiary .badge {
  color: #00A9E0;
  background-color: white;
}
.btn-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 3px;
}
@media (min-width: 480px) {
  .btn-heading {
    font-size: 18px;
    padding: 20px 40px;
  }
}
.navbar {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
nav.navbar-fixed-top {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}
.navbar-top {
  min-height: 30px !important;
}
.navbar-top li > a,
.navbar-top .navbar-brand {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  height: 30px;
}
.navbar-top .navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-main {
  margin-top: 30px;
}
.navbar-main .navbar-brand {
  font-weight: 700;
  font-size: 20px;
}
.navbar-main .nav li a {
  font-weight: 700;
}
section {
  padding: 50px 0;
  position: relative;
}
section .content {
  padding: 40px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
.bg-primary {
  background-color: #1976D2;
  color: #FFFFFF;
}
.bg-secondary {
  background-color: #CDDC39;
  color: #FFFFFF;
}
.bg-tertiary {
  background-color: #00A9E0;
  color: #FFFFFF;
}
.bg-white {
  background-color: #FFFFFF;
  color: #222222;
}
.bg-gray-lighter {
  background-color: #eeeeee;
  color: #222222;
}
.bg-gray-lighten {
  background-color: #999999;
  color: #FFFFFF;
}
.bg-gray-light {
  background-color: #777777;
  color: #FFFFFF;
}
.bg-gray {
  background-color: #555555;
  color: #FFFFFF;
}
.bg-gray-dark {
  background-color: #333333;
  color: #FFFFFF;
}
.bg-gray-darker {
  background-color: #222222;
  color: #FFFFFF;
}
.texture-layer {
  background: url(../img/texture_layer.png) repeat;
}
.cut-top {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-right: 30px solid white;
}
.cut-bottom {
  content: ' ';
  position: absolute;
  z-index: 1;
  bottom: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 80px solid transparent;
  border-left: 30px solid white;
}
.text-secondary {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #CDDC39;
  font-weight: 700;
}
.price {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #CDDC39;
  font-weight: 700;
}
.copy {
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #FFFFFF;
}
#header {
  height: 100%;
  /* 1. Pas de support d'object-fit */
  /* 2. En cas de support d'object-fit, écrase le 1 */
}
#header #video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#header #video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-aspect-ratio: 16/9) {
  #header #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #header #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
@supports (object-fit: cover) {
  #header #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
#header .header-text {
  position: absolute;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  color: white;
  vertical-align: middle;
}
#header .header-text .heading h1 {
  font-size: 54px;
  padding-bottom: 50px;
}
#header .header-text .heading h2 {
  font-size: 32px;
}
#header .fill {
  height: 100%;
}
#header-img-1 {
  background-image: url("../img/carousel/montagne_mafate18_lever_du_soleil_-_CREDIT_IRT_-_frog_974_photographies_dts_12_2017.jpg");
}
#header-img-2 {
  background-image: url("../img/carousel/montagne_piton_des_neiges09_commerson_au_dessus_des_nuages_-_CREDIT_IRT_-_frog_974_photographies_dts_07_2018.jpg");
}
#header-img-3 {
  background-image: url("../img/carousel/montagne_salazie17_cirque_-_CREDIT_IRT_-_frog_974_photographies_dts_12_2017.jpg");
}
#myCarousel2 {
  height: 200px;
}
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
/* Responsive image */
.fill {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.fill-fixed {
  background-attachment: fixed;
}
.fill-scroll {
  background-attachment: scroll;
}
.intro-text {
  padding-bottom: 50px;
}
.intro-text .intro-lead-in {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
.intro-text .intro-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
#breadcrumb {
  padding-top: 5px;
  padding-bottom: 0px;
}
.breadcrumb {
  border-bottom: 2px solid #eeeeee;
}
.header-activity {
  height: 400px;
  background-image: url("../img/activity/canyon/header.jpg");
  background-position: bottom center;
}
.header-activity .header-text {
  margin-top: 200px;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}
.footer-activity {
  height: 200px;
  background-image: url("../img/activity/canyon/footer.png");
  background-position: bottom center;
}
@media (max-width: 1199px) {
  #activity .activity {
    margin-bottom: 40px;
  }
}
#activity,
#services {
  padding-bottom: 0;
}
#activity .section,
#services .section {
  padding-top: 0px;
}
#activity .section .text-intro,
#services .section .text-intro {
  margin-top: 20px;
}
#activity .section .canyon .price,
#services .section .canyon .price {
  color: #FFFFFF;
}
#activity .section .canyon-primary,
#services .section .canyon-primary {
  border-left: 10px solid #1976D2;
}
#activity .section .canyon-primary .overlay,
#services .section .canyon-primary .overlay {
  background: #1976D2 !important;
}
#activity .section .canyon-success,
#services .section .canyon-success {
  border-left: 10px solid #CDDC39;
}
#activity .section .canyon-success .overlay,
#services .section .canyon-success .overlay {
  background: #CDDC39 !important;
}
#activity .section .canyon-danger,
#services .section .canyon-danger {
  border-left: 10px solid #CE0058;
}
#activity .section .canyon-danger .overlay,
#services .section .canyon-danger .overlay {
  background: #CE0058 !important;
}
#activity .section .canyon,
#services .section .canyon {
  padding-bottom: 0px;
  background-color: #eeeeee;
}
#activity .section .canyon h3,
#services .section .canyon h3 {
  margin-top: 10px;
}
#activity .section .canyon .canyon-left,
#services .section .canyon .canyon-left {
  padding: 0px;
}
#activity .section .canyon .canyon-body,
#services .section .canyon .canyon-body {
  padding: 20px;
  padding-bottom: 0px;
}
#activity .activity,
#services .activity {
  margin-bottom: 40px;
  padding-bottom: 60px;
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}
#activity .activity .cover,
#services .activity .cover {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#activity .activity .cover .overlay,
#services .activity .cover .overlay {
  height: 250px;
  padding-top: 60px;
  opacity: 0;
  background: #1976D2;
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
}
#activity .activity .avatar,
#services .activity .avatar {
  position: relative;
  z-index: 2;
  margin-top: -60px;
  border-radius: 50%;
  border: 7px solid #FFFFFF;
}
#activity .activity .title,
#services .activity .title {
  margin: 50px 0;
}
#activity .activity:hover .cover .overlay,
#services .activity:hover .cover .overlay {
  opacity: 1;
}
#activity .well,
#services .well {
  padding: 30px;
  border: none;
  border-bottom: 5px solid #1976D2;
  box-shadow: none;
}
#activity .well p,
#services .well p {
  font-size: 15px;
}
#activity .team,
#services .team {
  margin-top: 40px;
}
#activity .team .avatar-team,
#services .team .avatar-team {
  border-radius: 50%;
  border: 7px solid #eeeeee;
}
#map {
  min-height: 500px;
  width: 100%;
}
#subscribe #no-spam {
  margin-top: 5px;
}
#services {
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.6s linear 0.3s;
  transition: background-image 0.6s linear 0.3s;
}
.services .service {
  background-color: #00a8ff;
  margin-top: 10px;
}
.services .service .box-main {
  padding: 30px;
}
.services .service .box-second {
  padding: 30px;
}
.services .service.service-primary {
  background-color: #1976D2;
}
.services .service.service-secondary {
  background-color: #CDDC39;
}
.services .service.service-tertiary {
  background-color: #00A9E0;
}
.services .service.service-default {
  background-color: #999999;
}
.carousel .carousel-caption {
  padding-bottom: 50px;
  left: 10%;
  right: 10%;
  text-shadow: none;
}
.carousel .blockquote {
  font-size: 25px;
  color: #FFFFFF;
}
.carousel .source {
  font-size: 18px;
  color: #FFFFFF;
}
#statistics .fun-box {
  text-align: center;
  padding: 50px 20px;
  margin-top: 50px;
  background-color: #555555;
}
#statistics .fun-box i {
  display: block;
  font-size: 60px;
  font-weight: 700;
  color: white;
}
#statistics .fun-box p {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
}
#statistics .fun-box .fun {
  color: #00A9E0;
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
  text-shadow: 1px 1px 1px #444;
}
#medias .title {
  margin-bottom: 50px;
}
#association {
  background: #eeeeee url('../img/irt/coucher_de_soleil21_sur_lagon_de_lermitage_-_CREDIT_IRT_-_frog_974_photographies_dts_12_2017.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.6s linear 0.3s;
  transition: background-image 0.6s linear 0.3s;
}
#association .title {
  color: #FFFFFF;
}
#association .well {
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-bottom: 5px solid #1976D2;
}
#association .well p {
  font-size: 14px;
}
#contact {
  background-color: #1976D2;
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  color: #FFFFFF;
}
#contact .form-group {
  margin-bottom: 25px;
}
#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}
#contact .form-group input.form-control {
  height: auto;
}
#contact .form-group textarea.form-control {
  height: 236px;
}
#contact .form-control:focus {
  border-color: #1976D2;
  box-shadow: none;
}
#contact ::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
#contact :-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
#contact .text-danger {
  color: #CE0058;
}
::-moz-selection {
  text-shadow: none;
  background: #1976D2;
}
::selection {
  text-shadow: none;
  background: #1976D2;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #1976D2;
}
