<div *ngIf="canyon" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>Details du Canyon</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input required [(ngModel)]="canyon.name" type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="subTitle">Sous-Titre</label>
            <input required [(ngModel)]="canyon.subTitle" type="text" class="form-control" id="subTitle" placeholder="Sous-Titre">
          </div>
          <div class="form-group">
            <label for="inputImg">Image</label>
            <input type="file" id="inputImg">
            <p class="help-block">Image de description.</p>
          </div>
          <div class="form-group">
            <label for="levelId">Niveau de pratique</label>
            <select required [(ngModel)]="canyon.levelId" class="form-control">
              <option value="1">Niveau 1</option>
              <option value="2">Niveau 2</option>
              <option value="3">Niveau 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="level">Niveau (label d'affichage)</label>
            <input [(ngModel)]="canyon.level" type="text" class="form-control" id="level" placeholder="eg. Xperience Verte">
          </div>
          <div class="form-group">
            <label for="price">Prix</label>
            <input [(ngModel)]="canyon.price" type="text" class="form-control" id="price" placeholder="eg. 50€">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea [(ngModel)]="canyon.desc" class="form-control" rows="3" id="desc" placeholder="Description"></textarea>
          </div>
          <div class="form-group">
            <label for="approche">Temps d'approche</label>
            <input [(ngModel)]="canyon.approche" type="text" class="form-control" id="approche" placeholder="eg. 05 minutes">
          </div>
          <div class="form-group">
            <label for="return">Temps de retour</label>
            <input [(ngModel)]="canyon.return" type="text" class="form-control" id="return" placeholder="eg. 30 minutes">
          </div>
          <div class="form-group">
            <label for="duration">Durée de la descente</label>
            <input [(ngModel)]="canyon.duration" type="text" class="form-control" id="duration" placeholder="eg. environ 4h30">
          </div>
          <div class="form-group">
            <label for="rdv">Rendez-vous</label>
            <input [(ngModel)]="canyon.rdv" type="text" class="form-control" id="rdv" placeholder="eg. 08h00 parking de la poste à Cilaos">
          </div>
          <div class="form-group">
            <label for="from">Age minimum</label>
            <input [(ngModel)]="canyon.from" type="text" class="form-control" id="from" placeholder="eg. A partir de 18ans">
          </div>
        </div>
      </div>
      <hr>  
      <button class="btn btn-primary" (click)="goBack()">Cancel</button>
      <button class="btn btn-danger" (click)="save()">Admin: SAVE</button>
    </div>
  </div>
</div>